<div>
    <form class="form-inline" action="/action_page.php" style="margin-top:1%;margin-left: 2%">
        <label style="font-weight: 100" for="searchTask">Project:</label>
        <input type="text" class="form-control" id="searchTask" name="searchTask" [(ngModel)]='searchTask' style="margin-left:1%;background-color:lightgrey;width:40%;position:relative" />
        <button class="oval">Search</button>
        <label style="font-weight: 100; margin-left:1%"> Sort Task by:</label>
    
        <button class="btn btn-default" style="margin-left:1%">Start Date</button> 
        <button class="btn btn-default" style="margin-left:1%">End Date</button> 
        <button class="btn btn-default" style="margin-left:1%">Priority</button> 
        <button class="btn btn-default" style="margin-left:1%">Completed</button> 
        
    </form>
</div>
<br/>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Task</th>
            <th>ParentTask</th>
            <th>Priority</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of item | filterTask:searchTask:searchParentTask:startSearch:endSearch:searchPriorityFrom:searchPriorityTo">
            <td>
                <label>{{i.task}}</label>
            </td>
            <td>
                <label>{{i.parentTask}}</label>
            </td>
            <td>{{i.priority}}</td>
            <td>{{i.start_Date | date}}</td>
            <td>{{i.end_Date | date}}</td>
            <td>
                <button type="button" class="btn btn-default" [routerLink]="['/EditTask', i.task_Id]">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-default" (click)='Delete(i.task_Id)'>End Task</button>
            </td>
        </tr>
    </tbody>
</table>